src/baseline_model/
baseline_model/
src/noncontextual_model/
noncontextual_model/
src/contextual_model_elmo/
contextual_model_elmo/
src/contextual_model_bert/
contextual_model_bert/

# PyCharm stuff
/.idea/
__pycache__/

# Python venvs
venv/
venv-onj

# Data folder, keep it empty
/data/*
!/data/README.md
!/data/senticoref_pos_stanza
!/data/seeded_split
